<launch>

<!-- mkz
<arg name="robot_length" value="4.93"/>
<arg name="robot_width" value="2.45"/>
<arg name="robot_wheelbase" value="2.85"/>
<arg name="base2back" value="1.100"/>
<arg name="minimum_turning_radius" value="5.5"/>
-->

<!-- toyata -->
<arg name="robot_length" value="4.9"/>
<arg name="robot_width" value="1.95"/>
<arg name="robot_wheelbase" value="2.86"/>
<arg name="base2back" value="1.0"/>
<arg name="minimum_turning_radius" value="5"/>


<!--
    <node name="udp_revfrom_camera_node" pkg="udp_revfrom_camera" type="udp_revfrom_camera_node" output="screen" >
   		<param name="local_ip" value= "192.168.1.6" />
   		<param name="local_port" value="9999" />
   		<param name="send_object_send_topic_name" value="/object_status" />
   	</node>
-->


	<node name="get_map_server" pkg="autonomous_exploration" type="get_map_server">
		<param name="obs_threshold" value= "80" />
		<param name="receive_global_map_topic_name"  value="/global_map"/>
		<param name="receive_cover_map_topic_name"  value="/cover_map"/>
	</node>

	<node name="explore_client" pkg="autonomous_exploration" type="explore_client" output="screen" >
	        <param name="receive_object_send_topic_name" value= "/object_status" />
    </node>


    <node name="explore_server" pkg="autonomous_exploration" type="explore_server" output="screen" >
        <param name="local_map_frame_name" value= "base_link" />
        <param name="global_map_frame_name" value= "/odom" />

        <param name="sparse_distance_between_frontiers" value= "1.0" />
        <param name="expect_info_radius" value= "2" />
        <param name="min_unknown_cells_" value= "50" />
        <param name="initial_roi_radius_" value= "50" />
        <param name="max_roi_radius_" value= "100" />
        <param name="explored_rate_thresh" value= "60.0" />

        <param name="vehicle_length" value= "$(arg robot_length)" />
    	<param name="vehicle_width"  value="$(arg robot_width)"/>
    	<param name="base2back" value= "$(arg base2back)" />
        <param name="vehicle_wheelbase"  value="$(arg robot_wheelbase)"/>
        <param name="info_coeff"  value="1"/>
        <param name="angle_coeff"  value="3"/>
        <param name="dis_coeff"  value="1"/>
        <param name="min_frontier_distance"  value="5"/>
        <param name="obs_threshold"  value="80"/>
        <param name="roi_size_gain_change"  value="1.2"/>

	</node>


</launch>
